<form>
  <div class="url-form">
    <mat-slide-toggle class="url-button" color="primary" [(ngModel)]="needLogin" [ngModelOptions]="{standalone: true}">Need login</mat-slide-toggle>
    <mat-form-field appearance="fill" class="ml-16 url-select" *ngIf="needLogin">
      <mat-label>Login Origin</mat-label>
      <input matInput placeholder="URL will be {Login Origin}/auth/login" [(ngModel)]="authUrl" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </div>
  <div class="url-form">
    <button mat-raised-button class="url-button" (click)="getCallInfo()">GET /call/join</button>
    <mat-form-field appearance="fill" class="ml-16 url-select">
      <mat-label>Call Origin</mat-label>
      <input matInput placeholder="URL will be {Call Origin}/call/join" [(ngModel)]="url" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </div>
  <div class="form-group">
    <label for="appid">AppId:</label>
    <input type="text" class="form-control" id="appid" [(ngModel)]="appId" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label for="token">Token:</label>
    <input type="text" class="form-control" id="token" [(ngModel)]="token" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label for="channel">Channel:</label>
    <input type="text" class="form-control" id="channel" [(ngModel)]="channel" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label for="token">User ID:</label>
    <input type="text" class="form-control" id="uid" [(ngModel)]="uid" [ngModelOptions]="{standalone: true}">
  </div>
  <button class="btn btn-info" (click)="joinCall()">Join</button>
  <button class="btn btn-info ml-16" (click)="leaveCall()">Leave</button>
  <button class="btn btn-info ml-16" (click)="checkAudioOutput()">Check Audio Output</button>
  <button class="btn btn-info ml-16" (click)="checkCameras()">Check Devices</button>
  <span class="ml-16">{{message}}</span>
  <div id="local"></div>
</form>