<form>
    <div class="url-form">
      <button mat-raised-button class="url-button" (click)="getToken()">Get</button>
      <mat-form-field appearance="fill" class="ml-16 url-select">
        <mat-label>Url</mat-label>
        <input matInput placeholder="Place url here" [(ngModel)]="url" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="appid">AppId:</label>
      <input type="text" class="form-control" id="appid" [(ngModel)]="appId" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label for="token">Token:</label>
        <input type="text" class="form-control" id="token" [(ngModel)]="token" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="channel">Channel:</label>
      <input type="text" class="form-control" id="channel" [(ngModel)]="channel" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="token">User ID:</label>
      <input type="text" class="form-control" id="uid" [(ngModel)]="uid" [ngModelOptions]="{standalone: true}">
    </div>
    <button class="btn btn-info" (click)="joinCall()">Join</button>
    <button class="btn btn-info ml-16" (click)="leaveCall()">Leave</button>
    <button class="btn btn-info ml-16" (click)="checkAudioOutput()">Check Audio Output</button>
    <span class="ml-16">{{message}}</span>
    <div id="local"></div>
  </form>