.login-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vh;
}

.error-alert {
    padding: 20px;
    margin-bottom: 10px;
    background-color: #f8d7da;
    .error-text {
        color: #851d29;
    }
}

.success-alert {
    padding: 20px;
    margin-bottom: 10px;
    background-color: #d4edda;
    .success-text {
        color: #427a4f;
    }
}

.login-card {
    padding: 20px;
}

.full-width {
    width: 100%;
}