.register-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vh;
}

.register-card {
    padding: 20px;
}

.full-width {
    width: 100%;
}