.spacer {
    flex: 1 1 auto;
}

.app-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.sidenav-container {
    height: calc(100vh - 64px);
    background: #eee;
}

.mat-button-toggle-checked {
    background-color: #a8b5da;
    color: #435fba;
}