<div>
    <!-- Toolbar -->
    <mat-toolbar color="primary" class="app-toolbar">
        <span>Agora</span>
        <span class="spacer"></span>
    </mat-toolbar>

    <!-- Sidenav -->
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav opened mode="side">
            <mat-button-toggle-group name="fontStyle" vertical [value]="getUrl()">
                <mat-button-toggle mat-button *ngFor="let route of routes" routerLink="{{route.path}}" value="{{route.path}}">{{route.title}}</mat-button-toggle>
            </mat-button-toggle-group>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<router-outlet></router-outlet>